

.log-in {
    background-image:url('resources/gif1.gif');
    background-size:33.333333%;
    background-repeat: repeat-y repeat-x ;
    background-attachment: fixed;
}



.frog-gif{
    max-width: 99%;
    max-height: 99%;

}

.title{
    background-color: black;
    font-size: 7rem;
    color:white;
    display: block;
    line-height: 1.1;
    font-weight: 500;
    mix-blend-mode: multiply;
    text-align: center;
}

.div-title{
    position:relative;
    background-color: white;
}

.div-login{
    background-color: rgba(0,0,0,0.6);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.gallery{
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}